.chat-side {
  width: 300px;
  color: $fontWhite;
  float: left;
}

.side-header {
  background-color: #253141;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.user-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: bold;
  &__user-name{
    font-size: 16px;
  }
  &__menu{
    display: flex;
    .menu-btn {
      text-decoration: none;
      color: $fontWhite;
      margin: 0 0 0 5px;
    }
  }
}

.groups {
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 20px 20px 0;
  overflow: scroll;
  .text-link {
    text-decoration: none;
    color: $fontWhite;
  }
    .group {
      margin: 0 0 40px;
      &__group-name{
        font-size: 15px;
        margin: 0 0 5px;
      }
      &__latest-message{
        font-size: 11px;
      }
    }
}