.chat-main {
  width: calc(100vw - 300px);
  float: left;
  .main-header {
    height: 100px;
    padding: 0 40px;
    display: flex;
    justify-content:  space-between;
    border-bottom: solid 1px #eeeeee;
    overflow: scroll;
    &__left-side{
      margin: 35px 0 0;
      .current-group{
        color: $fontBlack;
        margin: 0 0 15px;
        font-size: 20px;
      }
      .member-list {
        display: flex;
        color: $fontGray;
        margin: 0 0 15px;
        font-size: 12px;
      }
    }
    .edit-link {
      text-decoration: none;
    }
    &__edit-btn{
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      margin-top: 30px;
      border: solid 1px $partsBlue;
      position: absolute;
      right: 40px;
      color: $partsBlue;
      font-size: 16px;
    }
  }

  .messages {
    height: calc(100vh - 190px);
    padding: 46px 40px;
    background-color: #fafafa;
    overflow: scroll;
    .message{
      padding: 0 0 40px;
      color: $fontDarkGray;
      &__talker-info{
        display: flex;
        margin-bottom: 10px;
        .talker-name {
          font-size: 16px;
          font-weight: bold;
        }
        .date {
          font-size: 12px;
          color: $fontGray;
          margin-left: 10px;
        }
      }
      .message-text {
        font-size: 14px;
        margin-bottom: 10px;
      }
    }
  }

  .form {
    height: 90px;
    padding: 20px 40px;
    background-color: #ddd;
    .new-message{
      display: flex;
      .input-form{
        box-sizing: border-box;
        position: relative;
        width: 100%;
        &__text {
          height: 50px;
          width: 100%;
          padding: 0 40px 0 10px;
          color: $fontDarkGray;
          border-style: none;
        }
        &__image {
          font-size: 1.3rem;
          position: absolute;
          top: 10px;
          right: 10px;
          cursor: pointer;
        }
        &__imagxe-file{
          display: none;
        }
      }
      .submit-btn {
        width: 100px;
        height: 50px;
        padding: 0 30px;
        margin-left: 15px;
        background-color:$partsBlue;
        color: $fontWhite;
        cursor: pointer;
      }
    }
  }
}