*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
       -o-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}

.notice-box {
  background-color: $partsBlue;
  width: 100vw;
  .notice {
    color: $fontWhite;
    font-size: 1rem;
    font-weight: lighter;
    text-align: center;
  }
}

.wrapper {
  width:  100vw;
  height:  100vh;
}